$pink: #FFE6E6;
$red: #FF2626;
$dark-red: #BD1616;
$black: #000000;

$main-bg-color: $pink;

$header-bg-color: lighten($red,10%);

$card-border-color: $dark-red;
$card-bg-color: lighten($red,20%);
$card-color: $black;

$footer-bg-color: lighten($red,10%);